body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  button {
    font-size: 24px !important;
    width: 100px;
    height: 100px;
  }
}
